.seller-card {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  background-color: #256d85;
  border-radius: 5px;
  color: #fff;
  transition: all 0.35s ease-in-out;
}

.seller-card:hover {
  background-color: #205375;
}

img.card-image {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.delete-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ff3c83;
  cursor: pointer;
}
