.dashboard-sidebar {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 4rem 2rem 4rem;
  background-color: lightsteelblue;
  border-radius: 0 0 8px 8px;
}

.dashboard-sidebar button {
  min-width: 130px;
}

.dashboard-button-groups {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.admin-buttons,
.seller-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.current-login-user {
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
}

.current-login-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.current-login-user p {
  font-size: 13.6px;
}

@media (max-width: 991px) {
  .current-login-user {
    display: none;
  }
}

@media (max-width: 575px) {
  .dashboard-sidebar {
    height: fit-content;
    padding: 3rem 2rem 3rem;
  }
}
