.report-card {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  border-radius: 5px;
  background-color: #256d85;
  color: #fff;
  transition: all 0.35s ease-in-out;
}

.report-card:hover {
  background-color: #205375;
}

img.card-image {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.report-item-delete-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #ff3c83;
  cursor: pointer;
}
